<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.softsquared.odaproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.softsquared.oda.src.ApplicationClass"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_app_icon"
        android:roundIcon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:screenOrientation="portrait"
        tools:targetApi="n">

        <activity android:name="com.softsquared.oda.src.myPage.MyPageActivity"/>
        <activity android:name="com.softsquared.oda.src.setting.SettingActivity"/>
        <activity android:name="com.softsquared.oda.src.orderReceipt.OrderReceiptActivity"/>
        <activity android:name="com.softsquared.oda.src.order.OrderActivity"/>
        <activity android:name="com.softsquared.oda.src.shoppingCart.ShoppingCartActivity"/>
        <activity android:name="com.softsquared.oda.src.search.SearchActivity" />
        <activity android:name="com.softsquared.oda.src.signUp.SignUpActivity" />
        <activity android:name="com.softsquared.oda.src.main.MainActivity" />
        <activity android:name="com.softsquared.oda.src.login.LoginActivity" />
        <activity android:name="com.softsquared.oda.src.detail.DetailActivity"/>
        <activity android:name="com.softsquared.oda.src.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>